.wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  left: 0;
  top: 0;
  background-color: white;
  border: 2px dotted #cccccc;
  border-radius: 15px;
  cursor: crosshair;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.btn-div {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

#undo,
#clear,
#erase {
  margin-right: 10px;
}

#alert-text {
  color: red;
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 3px;
  justify-content: center;
  align-items: center;
  cursor: cell;
}
